
<div class="vital-sign-card" (click)="onCardClick(vitalSign, Data.VitalSign)">
  <div class="icon-frame">
    <div class="background-container">
      <img [src]="'assets/Icons/Vital-Signs/' + vitalSign?.name + '.svg'">
    </div>
    <div class="vital-sign-and-date">
      <p class="vital-sign">{{ vitalSign?.name }}</p>
      <p class="date">{{ vitalSign?.measuredAt | date: 'dd.MM.yyyy' }}</p>
    </div>
  </div>
  <div class="value-delta">
    <div class="value-container">
      <p class="value">{{ vitalSign?.value ? vitalSign?.value : '-' }}</p>
      <p *ngIf="vitalSign?.name !== 'Body-Mass-Index'" class="unit">{{ vitalSign?.unit }}</p>
      <p *ngIf="vitalSign?.name === 'Body-Mass-Index'" class="unit">{{ vitalSign?.unit?.substring(0,4) }}</p><sup *ngIf="vitalSign?.name === 'Body-Mass-Index'">{{vitalSign?.unit?.substring(5)}}</sup>
    </div>
    <div *ngIf="vitalSign?.delta !== null" class="delta-container">
      <img src="assets/Icons/Chevron_Vital-Sign.svg">
      <p class="delta">{{ vitalSign?.delta }}{{ vitalSign?.unit }}</p>
    </div>
  </div>
  <app-help [toolTipText]="getToolTipText()" toolTipHeader="Vitalparameter" *ngIf="showPoint && vitalSign?.name === 'Körpergröße'"></app-help>
</div>
