
p {
  margin: 0;
}

.vital-sign-card,
.vertical-frame {
  display: flex;
  flex: 1;
  min-width: 300px;
  max-width: 400px;
  padding: 16px 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  border-radius: 10px;
  border: 1px solid #b3b3b3;
  background: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.vital-sign-card:hover {
  background-color: #f0f0f0;
}

.vertical-frame {
  align-items: center;
  gap: 32px;
}

.vertical-frame .icon-frame {
  align-self: center;
}

.icon-frame {
  display: flex;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  flex-wrap: nowrap; /* Verhindert Umbruch */
}

.background-container {
  background: #37d;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-shrink: 0; /* Verhindert das Schrumpfen des Containers */
}

.background-container img {
  width: 40px;
  height: 40px;
}

.vital-sign-and-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1; /* Erlaubt das Wachstum, um verfügbaren Platz zu nutzen */
  min-width: 0; /* Erlaubt korrektes Schrumpfen des flex-items */
}

.vital-sign {
  color: #191c20;
  text-align: center;
  font-family: Mulish;
  font-size: 25px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%; /* Begrenzung auf die Breite des Elternteils */
  display: block;
}

.date {
  color: #6f6f6f;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-weight: 600;
}

.value-delta {
  display: flex;
  padding: 4px 0 3px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.value-container {
  display: flex;
  align-items: flex-start;
  gap: 3px;
}

.value {
  color: #000;
  text-align: center;
  font-family: Mulish;
  font-size: 25px;
  font-weight: 600;
}

.unit {
  color: #6f6f6f;
  text-align: center;
  font-family: Mulish;
  font-size: 25px;
  font-weight: 600;
}

.delta-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.delta-container img {
  width: 15px;
  height: 24px;
}

.delta {
  color: #ffa900;
  font-family: Mulish;
  font-size: 23px;
  font-weight: 600;
}

.icon-sign-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 38px;
}

.data-scale {
  display: flex;
  width: 304px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
}

.scale {
  height: 18px;
  align-self: stretch;
  border-radius: 9px;
  background: linear-gradient(
    90deg,
    #b1d5ef 0%,
    #93dde2 25.1%,
    #99dfc4 49.82%,
    #cec576 76.62%,
    #e17e8c 100%
  );
}

.values {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.values p {
  color: #c1c6cc;
  text-align: center;
  font-family: Mulish;
  font-size: 15px;
  font-weight: 600;
}

.data-scale img {
  position: absolute;
  left: 118px;
  width: 13px;
  height: 24px;
  top: -3px;
  z-index: 10;
}

/* Responsive adjustments */
@media (max-width: 560px) {
  .vital-sign-card {
    min-width: 250px;
  }
}
