
<div class="dialog-container">
  <div class="dialog-header">
    <div class="icon-and-label">
      <img [src]="getImage()">
      <p>{{dataType.toString()}}</p>
    </div>
    <button mat-icon-button (click)="onNoClick()">
      <img src="assets/Icons/close.svg">
    </button>
  </div>
  <div class="content-frame">
    <div class="content">
      <div class="details">
        <p class="header">{{dataType.toString()}}</p>
        <p class="value">{{dataSet.name}}</p>
      </div>
      <div class="details">
        <p class="header">{{dataType === Data.Medication ? 'Dosierung' : dataType === Data.Diagnosis ? 'Bekannt seit' : dataType === Data.LabValue ? 'Gemessen am' : dataType === Data.Procedure ? 'Durchgeführt / Geplant am' : 'Gemessen am'}}</p>
        <p class="value">{{dataType === Data.Medication ? dataSet?.dosage : dataType === Data.Diagnosis ? (dataSet?.startDate | date: 'dd.MM.yyyy') : dataType === Data.LabValue ? (dataSet?.measuredAt | date: 'dd.MM.yyyy'): dataType === Data.Procedure ? (dataSet?.doneAt | date: 'yyyy') : (dataSet?.measuredAt | date: 'dd.MM.yyyy')}}</p>
      </div>
    </div>
    <div class="content">
      <div class="details">
        <p class="header">{{dataType === Data.Medication ? 'Status' : dataType === Data.Diagnosis ? 'Status' : dataType === Data.LabValue ? 'Ergebnis' : dataType === Data.Procedure ? 'Status' : 'Ergebnis'}}</p>
        <p class="value">{{dataType === Data.Medication ? dataSet?.status.toString() : dataType === Data.Diagnosis ? dataSet.status.toString() : dataType === Data.LabValue ? dataSet.value : dataType === Data.Procedure ? dataSet.status.toString() : dataSet.value + dataSet.unit}}</p>
      </div>
      <div class="details">
        <p class="header">{{dataType === Data.Medication ? 'Einnahme seit':  dataType === Data.LabValue ? 'Gemessen von' : ''}}</p>
        <p class="value">{{dataType === Data.Medication ? (dataSet?.startDate | date: 'dd.MM.yyyy') : dataType === Data.LabValue ? dataSet.measuredFrom : ''}}</p>
      </div>
    </div>
  </div>
</div>





