
<div class="section">
  <div class="body-measures">
    <p>Körpermaße:</p>
    <div class="body-measurements">
      <div class="height-weight">
        <app-vital-sign-card [vertical]="false" [vitalSign]="getVitalSign('Körpergröße')"></app-vital-sign-card>
        <app-vital-sign-card [vertical]="false" [vitalSign]="getVitalSign('Körpergewicht')"></app-vital-sign-card>
        <app-vital-sign-card [vertical]="false" [vitalSign]="getVitalSign('Body-Mass-Index')"></app-vital-sign-card>
      </div>
      <div class="height-weight">
        <app-vital-sign-card [vertical]="false" [vitalSign]="getVitalSign('Kopfumfang')"></app-vital-sign-card>
        <app-vital-sign-card [vertical]="false" [vitalSign]="getVitalSign('Brustumfang')"></app-vital-sign-card>
        <app-vital-sign-card [vertical]="false" [vitalSign]="getVitalSign('Hüftumfang')"></app-vital-sign-card>
      </div>
    </div>
  </div>
  <div class="body-measures">
    <p>Vitalwerte:</p>
    <div class="body-measurements">
      <div class="height-weight">
        <app-vital-sign-card [vertical]="false" [vitalSign]="getVitalSign('Herzfrequenz')"></app-vital-sign-card>
        <app-vital-sign-card [vertical]="false" [vitalSign]="getVitalSign('Blutdruck')"></app-vital-sign-card>
        <app-vital-sign-card [vertical]="false" [vitalSign]="getVitalSign('Blutzucker')"></app-vital-sign-card>
      </div>
      <div class="height-weight">
        <app-vital-sign-card [vertical]="false" [vitalSign]="getVitalSign('Raucherstatus')"></app-vital-sign-card>
        <app-vital-sign-card [vertical]="false" [vitalSign]="getVitalSign('Aktivität')"></app-vital-sign-card>
      </div>
    </div>
  </div>
</div>
