
.sort-icon {
  display: inline-block;
  width: 1em; /* Reservieren Sie Platz für das Sortiersymbol */
  text-align: center; /* Zentrieren Sie das Symbol */
}

.filter-chips-container {
  mat-chip {
    mat-icon {
      height: unset;
      width: unset;
      color: #37d;
    }
  }
}

.table-frame {
  border-radius: 15px;
  border: 1px solid #b3b3b3;
  background: #fff;
  overflow: hidden;
  padding: 16px;
  position: relative;
}

.table-view-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 0 1rem 1rem 1rem;
}

.table-view-header .icon-and-label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.table-view-header .icon-and-label img {
  width: 40px;
  height: 40px;
}

.table-view-header .icon-and-label p {
  color: #7f7f7f;
  margin: 0;
  text-align: center;
  font-family: Mulish;
  font-size: 25px;
  font-weight: 600;
}

.table-view-header .filter-input {
  width: auto;
}

.table-container {
  overflow-y: auto;
  max-height: 300px;
  height: 300px;
}

.table-wrapper {
  overflow-y: auto;
  max-height: 100%;
}

.table-wrapper table tbody tr {
  cursor: pointer;
  transition: background-color 0.3s;
}

.table-wrapper table tbody tr:hover {
  background-color: #f0f0f0;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  position: relative;
}

thead.sticky-header {
  background-color: #37d;
  z-index: 2;
  color: white;
  position: sticky;
  top: 0;
}

thead.sticky-header th {
  padding-left: 12px;
  text-align: start;
  height: 40px;
  cursor: pointer;
  vertical-align: middle;
}

thead.sticky-header th:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

thead.sticky-header th:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

tbody td {
  padding-left: 12px;
  border-bottom: 1px solid #ddd;
}

tbody tr {
  height: 40px;
}

tbody tr:last-child td {
  border-bottom: none;
}

.search-container {
  position: relative;
  display: inline-block;
}

.filter-input {
  width: 100%;
  padding: 10px 20px 10px 40px;
  border-radius: 25px;
  border: 2px solid #ccc;
  font-size: 16px;
  transition: border-color 0.3s;
}

.filter-input:focus {
  border-color: #007BFF;
  outline: none;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #aaa;
}

.no-data {
  color: #7F7F7F;
  font-family: Mulish;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  width: 100%;
  margin-top: 1rem;
}

mat-chip {
  background: #E7FFF1;
  height: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}

mat-chip span {
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

mat-chip:hover {
  background: #c7e6d1;
}

mat-chip.Aktiv {
  background: #E7FFF1;
}

mat-chip.Aktiv span {
  color: #508969;
}

mat-chip.Abgeschlossen {
  background: #C9C9C9;
}

mat-chip.Abgeschlossen span {
  color: #4D4D4D;
}

mat-chip.Nicht {
  background: #C9C9C9;
}

mat-chip.Nicht span {
  color: #4D4D4D;
}

mat-chip.Familiär {
  background: #FFCE84;
}

mat-chip.Familiär span {
  color: #B45600;
}

/* Häkchen-Symbol in den Chips */
mat-chip mat-icon {
  font-size: 16px;
  vertical-align: middle;
  margin-left: 8px;
  color: green;
}

/* Responsive adjustments */
@media (max-width: 960px) {
  .table-container {
    max-height: 250px;
  }

  thead.sticky-header th {
    font-size: 14px;
  }

  tbody td {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  thead.sticky-header th {
    height: 30px;
  }

  tbody tr {
    height: 30px;
  }
}

.search-filter {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.filter-chips-container {
  border: 1px solid #b3b3b3;
  border-radius: 21px;
  padding: 8px 10px;
  gap: 10px;
  align-items: center;
  display: flex;
}
