
.table-frame {
  border-radius: 15px;
  border: 1px solid #B3B3B3; /* Complete border property */
  background: #FFF;
  overflow: hidden; /* Ensure border radius is visible */
  padding: 16px;
}

.table-view-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 0 1rem 1rem 1rem;
}

.table-view-header .icon-and-label {
  display: flex;
  align-items: center;
  gap: 16px;
}

.table-view-header .icon-and-label img {
  width: 50px;
  height: 50px;
}

.table-view-header .icon-and-label p {
  color: #7f7f7f;
  margin: 0;
  text-align: center;
  font-family: Mulish;
  font-size: 30px;
  font-weight: 600;
}

.table-view-header .filter-input {
  width: 337px;
  padding: 8px;
}

.table-container {
  overflow-y: auto;
  max-height: 300px;
  height: 300px;
}

.table-wrapper {
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: separate; /* Ensure borders don't collapse */
  border-spacing: 0; /* Remove any additional spacing */
}

thead.sticky-header {
  position: sticky;
  top: 0;
  background-color: #37d; /* Set the background color to prevent overlapping content */
  z-index: 1; /* Ensure the header stays on top */
  color: white; /* Text color */
}

thead.sticky-header th {
  padding-left: 12px;
  text-align: start;
  height: 30px;
}

thead.sticky-header th:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

thead.sticky-header th:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

tbody td {
  padding-left: 12px;
  border-bottom: 1px solid #ddd; /* Add bottom border to each cell */
}

tbody tr {
  height: 30px;
}

tbody tr:last-child td {
  border-bottom: none; /* Remove bottom border for the last row */
}
