<div class="table-frame" *ngIf="!collapsed; else collapsedView">
  <div class="table-view-header">
    <div class="icon-and-label">
      <img [src]="getImage()">
      <p>{{dataType.toString()}}</p>
    </div>
    <div class="search-container">
      <img src="assets/Icons/search.svg" class="search-icon">
      <input type="text" (input)="applyFilter($event)" [placeholder]="dataType.toString() + ' suchen'" class="filter-input">
    </div>
  </div>
  <div class="table-container">
    <div class="table-wrapper">
      <table>
        <thead class="sticky-header">
        <tr>
          <th *ngFor="let headerLabel of headerLabels; let i = index">{{headerLabel}}</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dataSet of filteredData" (click)="onRowClick(dataSet, dataType)">
            <td>{{dataSet?.name}}</td>
            <td *ngIf="dataType == Data.Medication || dataType == Data.Procedure || dataType == Data.Diagnosis"><mat-chip [ngClass]="dataSet?.status"><span>{{dataSet?.status}}</span></mat-chip></td>
            <td *ngIf="dataType == Data.Medication">{{dataSet?.dosage}}</td>
            <td *ngIf="dataType == Data.Medication">{{dataSet?.startDate | date: 'dd.MM.yyyy'}}</td>
            <td *ngIf="dataType == Data.Medication">{{dataSet?.endDate | date: 'dd.MM.yyyy'}}</td>
            <td *ngIf="dataType == Data.Diagnosis">{{dataSet?.startDate | date: 'dd.MM.yyyy'}}</td>
            <td *ngIf="dataType == Data.Procedure">{{dataSet?.doneAt | date: 'dd.MM.yyyy'}}</td>
            <td *ngIf="dataType == Data.LabValue && isStatus(dataSet?.value)"><mat-chip [ngClass]="dataSet?.value"><span>{{dataSet?.value}}</span></mat-chip></td>
            <td *ngIf="dataType == Data.LabValue && !isStatus(dataSet?.value)">{{dataSet?.value}}</td>
            <td *ngIf="dataType == Data.LabValue">{{dataSet?.measuredAt | date: 'dd.MM.yyyy'}}</td>
            <td *ngIf="dataType == Data.LabValue">{{dataSet?.measuredFrom}}</td>
          </tr>
          <tr *ngIf="patientType === PatientEnum.NoProblems" class="no-data">
            <td colspan="12"><p>Keine {{dataType.toString()}} gefunden</p></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #collapsedView>
  <div class="table-frame collapsed-container">
    <div class="table-view-header">
      <div class="icon-and-label">
        <img [src]="getImage()">
        <p>{{dataType.toString()}}</p>
      </div>
      <button mat-icon-button (click)="changeTableOrder()">
        <img src="assets/Icons/Maximize.svg">
      </button>
    </div>
    <div class="table-container">
      <div class="table-wrapper">
        <table>
          <thead class="sticky-header">
          <tr>
            <th>{{headerLabels[0]}}</th>
          </tr>
          </thead>
          <p class="no-data" *ngIf="patientType === PatientEnum.NoProblems">Keine {{dataType.toString()}} gefunden</p>
          <tbody *ngIf="patientType === PatientEnum.MedicalCheckup">
          <tr *ngFor="let dataSet of filteredData" (click)="onRowClick(dataSet, dataType)">
            <td>{{dataSet?.name}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-template>
