<div *ngIf="!collapsed; else collapsedView">
  <div class="table-view-header">
    <div class="icon-and-label">
      <img [src]=getImage()>
      <p>{{dataType.toString()}}</p>
    </div>
    <input type="text" (input)="applyFilter($event)" placeholder="Filter" class="filter-input">
  </div>
  <div class="table-container">
    <div class="table-wrapper">
      <table>
        <thead>
        <tr>
          <th *ngFor="let headerLabel of headerLabels">{{headerLabel}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let dataSet of filteredData">
          <td>{{dataSet?.name}}</td>
          <td *ngIf="dataType == Data.Medication || dataType == Data.Procedure || dataType == Data.Diagnosis">{{dataSet?.status}}</td>
          <td *ngIf="dataType == Data.Medication">{{dataSet?.dosage}}</td>
          <td *ngIf="dataType == Data.Medication">{{dataSet?.startDate | date: 'dd.MM.YYYY'}}</td>
          <td *ngIf="dataType == Data.Medication">{{dataSet?.endDate | date: 'dd.MM.YYYY'}}</td>
          <td *ngIf="dataType == Data.Diagnosis">{{dataSet?.startDate | date: 'dd.MM.YYYY'}}</td>
          <td *ngIf="dataType == Data.Procedure">{{dataSet?.doneAt | date: 'dd.MM.YYYY'}}</td>
          <td *ngIf="dataType == Data.LabValue">{{dataSet?.value}}</td>
          <td *ngIf="dataType == Data.LabValue">{{dataSet?.measuredAt | date: 'dd.MM.YYYY'}}</td>
          <td *ngIf="dataType == Data.LabValue">{{dataSet?.measuredFrom}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #collapsedView>
  <div class="collapsed-container">
  <div class="table-view-header">
    <div class="icon-and-label">
      <img [src]=getImage()>
      <p>{{dataType.toString()}}</p>
    </div>
    <img src="assets/Icons/Maximize.svg" (click)="changeTableOrder()">
  </div>
  <div class="table-container">
    <div class="table-wrapper">
      <table>
        <thead>
        <tr>
          <th>{{headerLabels[0]}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let dataSet of filteredData">
          <td>{{dataSet?.name}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
</ng-template>
