
.patient-header-frame {
  width: 100%;
}

app-patient-header {
  width: inherit;
}

mat-tab-group {
  width: 100%;
}

mat-tab {
  background: white;
}

.tabs {
  width: calc(100% + 2rem);
  margin-left: -1rem;
  margin-top: 1rem;
}

.mat-mdc-dialog-surface {
  border-radius: 10px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .tabs {
    width: 100%;
    margin-left: 0;
  }
  mat-tab-group {
    mat-align-tabs: "center";
  }
}

.mdc-tab__text-label {
  color: #37d !important;;
}


.mdc-tab-indicator--active {
  background: white !important;
  border-radius: 4px !important;
  border-top: 1px solid #B2B2B2 !important;
  border-right: 1px solid #B2B2B2 !important;
  border-left: 1px solid #B2B2B2 !important;
  border-bottom: none !important;

  .mdc-tab__ripple {
    ::before {
      background: none !important;
    }
  }

  .mdc-tab__text-label {
    color: black !important;
  }
}

.mat-mdc-tab .mdc-tab-indicator__content--underline {
  border-color: white !important;
}
