<app-patient-header></app-patient-header>

<div class="tabs">
  <app-help class="overview" [toolTipText]="getToolTipText('overview')" toolTipHeader="Übersicht" *ngIf="showPoint"></app-help>
  <app-help class="vital-signs" [toolTipText]="getToolTipText('vital-signs')" toolTipHeader="Vitalparameter" *ngIf="showPoint"></app-help>

  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="custom-tab-group">
    <mat-tab label="Übersicht">
      <app-overview></app-overview>
    </mat-tab>
    <mat-tab label="Vitalparameter">
      <app-vital-signs></app-vital-signs>
    </mat-tab>
  </mat-tab-group>
</div>
