.main {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem;
  background: #e0edff;
  justify-content: flex-start;
}

.patient-header-frame {
  width: 100%;
}
app-patient-header {
  width: inherit;
}

mat-tab-group {
  width: 100%;
}

mat-tab {
  background: white;
}

.tabs {
  width: calc(100% + 2rem);
  margin-left: -1rem;
  margin-top: 1rem;
  background: white;
}

.mat-mdc-dialog-surface
{
  border-radius: 10px;
}

