.main {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem;
  background: #e0edff;
  justify-content: flex-start;
}

.patient-header-frame {
  width: 100%;
}
app-patient-header {
  width: inherit;
}

mat-tab-group {
  width: 100%;
}

mat-tab {
  background: white;
}

.tabs {
  width: calc(100% + 2rem);
  margin-left: -1rem;
  margin-top: 1rem;
  background: white;
}

.custom-tab-group .mat-mdc-tab-labels {
  background-color: #e0edff;
}

.custom-tab-group .mat-mdc-tab-label {
  color: white;
}

.mdc-tab__text-label {
  color: #37d !important;
}
.custom-tab-group .mdc-tab--active {
  background-color: white;
  border-radius: 4px;

  .mdc-tab__text-label {
    color: black !important; /* You can set the text color of the active tab as needed */

  }
}

/* Optional: Customize the ink bar (underline) color */
.custom-tab-group .mat-mdc-ink-bar {
  background-color: white;
}
