.autocomplete-list {
  border: 1px solid #ccc;
  border-top: none;
  background: white;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  list-style-type: none;
  z-index: 1001;
  padding-left: 0;
  width: 400px;
  margin: 0;
}

.autocomplete-list li {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;

  img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
  }
}

.autocomplete-list li:hover {
  background-color: #f1f1f1;
}

@media (max-width: 991px) {
  .autocomplete-list {
    width: 280px;
  }
}

@media (max-width: 768px) {
  .autocomplete-list {
    width: 280px;
  }
}
