
<mat-expansion-panel [hideToggle]="layout === 'xs' || layout === 'sm'">
  <mat-expansion-panel-header>
    <div class="header-frame">
      <div class="patient-header">
        <div class="content-frame">
          <div class="avatar-and-name">
            <div class="avatar">
              <p class="initials">{{patient?.initials}}</p>
            </div>
            <div class="name-and-data">
                <p class="name font-size-big">{{patient?.firstName}} {{patient?.middleName}} {{patient?.lastName}}</p>
              <div class="gender-and-birthday">
                <div class="gender">
                  <img src="assets/Icons/Gender.svg">
                  <p class="font-size-middle">{{patient?.gender}}</p>
                </div>
                <div *ngIf="patient?.dateOfBirth" class="birthday">
                  <img src="assets/Icons/Birthday.svg">
                  <p class="font-size-middle">{{calculateAge(patient?.dateOfBirth)}} Jahre</p>
                </div>
              </div>
              <app-allergy-warning [patientType]="patient?.patientType"></app-allergy-warning>

            </div>

          </div>
          <app-global-search-field (click)="stopPropagation($event)" (keydown.enter)="stopPropagation($event)"></app-global-search-field>
        </div>
      </div>
    </div>
  </mat-expansion-panel-header>
  <div class="line"></div>
  <div class="details-frame">
    <div class="detail-information">
      <p class="key font-size-middle">Adresse</p>
      <p class="value font-size-middle">{{patient?.address}}</p>
    </div>
    <div class="detail-information">
      <p class="key font-size-middle">Telefonnummer</p>
      <p class="value font-size-middle">{{patient?.phoneNumber}}</p>
    </div>
    <div class="detail-information">
      <p class="key font-size-middle">Mail</p>
      <p class="value font-size-middle">{{patient?.email}}</p>
    </div>
  </div>
  <div class="details-frame">
    <div class="detail-information">
      <p class="key font-size-middle">Geburtsdatum</p>
      <p class="value font-size-middle">{{patient?.dateOfBirth | date: 'dd.MM.yyyy'}}</p>
    </div>
    <div class="detail-information">
      <p class="key font-size-middle">SVNR</p>
      <p class="value font-size-middle">{{patient?.SVNR}}</p>
    </div>
    <div class="detail-information">
      <p class="key font-size-middle">Hausarzt</p>
      <p class="value font-size-middle">{{patient?.homePhysician}}</p>
    </div>
  </div>
  <div class="details-frame">
    <div class="detail-information">
      <p class="key font-size-middle">Zuletzt aktualisiert am</p>
      <p class="value font-size-middle">{{patient?.lastUpdatedOn | date: 'dd.MM.yyyy'}}</p>
    </div>
    <div class="detail-information">
      <p class="key font-size-middle">Zuletzt aktualisiert von</p>
      <p class="value font-size-middle">{{patient?.lastUpdateFrom}}</p>
    </div>
    <div class="detail-information">
      <p class="key font-size-middle"></p>
      <p class="value font-size-middle"></p>
    </div>
  </div>
</mat-expansion-panel>
