<div class="allergy-banner" [ngClass]="patientType === PatientEnum.NoProblems ? 'no-problems' : ''">
<img src="/assets/Icons/allergy_icon.svg">
  <div *ngIf="collapsed" class="allergy-text-frame">
    <p *ngIf=" patientType === PatientEnum.MedicalCheckup" class="allergy-text font-size-middle">Allergie gegen: </p><b *ngIf=" patientType === PatientEnum.MedicalCheckup" class="font-size-middle">Penicillin</b>
    <p *ngIf=" patientType === PatientEnum.NoProblems" class="allergy-text font-size-middle">Keine bekannten Allergien!</p>
  </div>
</div>

